SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_AUTHENTICATOR=snowflake
SNOWFLAKE_ROLE=NHPI_ENGINEER
SNOWFLAKE_WAREHOUSE=NHPI_XS
SNOWFLAKE_DATABASE=NH_PROPERTY_INTELLIGENCE
BITWARDEN_CENSUS_ITEM="NHPI Census API Key"
BITWARDEN_SNOWFLAKE_ITEM="NHPI Snowflake"
